[user]
	name = simon.plutz
	email = simon.plutz@zoi.tech
[core]
	excludesfile = /Users/simon/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/simon/.stCommitMsg
[http]
	postBuffer = 157286400
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
